<!-- Monade des features -->
<div id="features-popup" class="features-popup hidden">
    <h2>Features</h2>
    <div class="features-grid">
        <div class="feature-item"><i class="bi bi-grid"></i> Dashboard</div>
        <div class="feature-item" onclick="window.location.href='/historique'">
            <i class="bi bi-graph-up"></i> Historic</div>
        <div class="feature-item" onclick="window.location.href='/manage_cards'">
            <i class="bi bi-credit-card"></i> Manage your cards
        </div>        
        <div class="feature-item"><i class="bi bi-cash-stack"></i> Make a payment</div>
        <div class="feature-item"><i class="bi bi-arrow-left-right"></i> Make a bank transfer</div>
        <div class="feature-item" onclick="window.location.href='/add_card'">
            <i class="bi bi-credit-card-2-front"></i> Add a Card
        </div> 
        <div class="feature-item"><i class="bi bi-question-circle"></i> Help and FAQ</div>
        <div class="feature-item"><i class="bi bi-info-circle"></i> About App</div>
    </div>
    <span class="features-close"><i class="bi bi-x-lg"></i></span>
</div>

<!-- Flou d’arrière-plan -->
<div id="blur-overlay" class="blur-overlay hidden"></div>
