<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home - PaySecurApp</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup_modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_modal.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        <span>PaySecurApp</span>
      </div>
      <ul class="nav-links">
        <li><a href="/home2" class="{% if active_page == 'home' %}active{% endif %}">Home</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/security">Security</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/login-modal" id="open-login">Log In</a></li>
        <li><a href="/signup" id="open-signup">Sign Up</a></li>
      </ul>
    </nav>

    <div class="overlap-2">
      <img class="img" src="{{ url_for('static', filename='images/rectangle-19.png') }}" />
      <img class="rectangle-2" src="{{ url_for('static', filename='images/rectangle-20.png') }}" />
      <img class="rectangle-3" src="{{ url_for('static', filename='images/rectangle-22.svg') }}" />
      <img class="line" src="{{ url_for('static', filename='images/line-6.png') }}" />
      <img class="pay-secur-app" src="{{ url_for('static', filename='images/pay-secur-app.png') }}" />
      <img class="temp-imagex-ykpv-p" src="{{ url_for('static', filename='images/temp-imagex-ykpv-p.png') }}" />
      <p class="p">
        Enjoy smooth and secure payments with next-gen facial recognition — your face is your password!
      </p>
    </div>
  </div>

  <!-- Modal container for signup -->
  <div id="signup-modal" class="modal" style="display: none;">
      <div class="modal-content" id="signup-modal-content"></div>
  </div>

  <!-- Modal container for login -->
  <div id="login-modal" class="login-modal" style="display: none;">
      <div class="login-content" id="login-modal-content"></div>
  </div>

  <!-- Charger le fichier JavaScript -->
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  <script src="{{ url_for('static', filename='js/signup_modal.js') }}"></script>

  <!-- Overlay général pour fond assombri -->
  <div id="modal-overlay" class="modal-overlay" style="display: none;"></div>

</body>
</html>
