<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>PaySecurApp - Home</title>
  </head>
  <body>
    <div class="desktop">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="text-wrapper">PaySecurApp</div>
          <img class="adobe-express-file" src="../static/images/logo.png" />
          <div class="overlap">
            <!-- Menu items as links -->
            <a href="../templates/home.html" class="menu-link"><div class="div">Home</div></a>
            <img class="rectangle" src="../images/rectangle 23.png" />
            <a href="../templates/features.html" class="menu-link"><div class="text-wrapper-2">Features</div></a>
            <a href="../templates/" class="menu-link"><div class="text-wrapper-3">Security</div></a>
            <a href="html/team.html" class="menu-link"><div class="text-wrapper-4">Team</div></a>
            <a href="html/login.html" class="menu-link"><div class="text-wrapper-5">Log In</div></a>
            <button id="open-signup" class="menu-link"><div class="text-wrapper-6">Sign Up</div></button>
          </div>

          <div class="overlap-2">
            <img class="img" src="../images/rectangle19.png" />
            <img class="rectangle-2" src="../images/rectangle 20.png" />
            <img class="rectangle-3" src="../images/rectangle 22.png" />
            <img class="line" src="../images/ligne 6.png" />
            <img class="pay-secur-app" src="../images/nom.png" />
            <img class="temp-imagex-ykpv-p" src="../images/image background.png" />
            <p class="p">
              Enjoy smooth and secure payments with next-gen facial recognition — your face is your password!
            </p>
          </div>
          <img class="line-2" src="../images/ligne 5.png" />
        </div>
      </div>
    </div>

    <!-- Signup Modal -->
    <div id="signup-modal" class="modal" style="display: none;">
      <div id="signup-modal-content" class="modal-content"></div>
    </div>

    <!-- Login Modal -->
    <div id="login-modal" class="modal" style="display: none;">
      <div id="login-modal-content" class="modal-content"></div>
    </div>

    <!-- JS File -->
    <script src="../static/js/home.js"></script>
  </body>
</html>
