<!-- login_modal.html -->
<div class="login-modal">
    <div class="login-content">
      <span class="close-login-btn">&times;</span>
  
      <h2>Login</h2>
      <form id="login-form" method="POST">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">Se connecter</button>
      </form>
  
      <div id="camera-preview-login" class="video-container" style="display: none;">
        <video id="video-login" autoplay muted></video>
        <p id="login-capture-status">Préparation de la caméra...</p>
      </div>
  
      <button id="back-login" class="back-btn">Retour</button>
    </div>
  </div>
  