/* home.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1b9aaa;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 45px;
    margin-right: 5px;
    padding: 2rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    max-height: 700px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #d0e8ef;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #208A9D;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    border-bottom: 2px solid #208A9D;
    padding-bottom: 0.2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #208A9D;
}

.logo img {
    height: 32px;
    width: 32px;
}


/* Les images */
.overlap-2 {
    position: relative;
    width: 1029px;
    height: 500px;
    margin: 0 auto;
}

.img {
    position: relative;
    width: 737px;
    height: 84px;
    top: 389px;
   
}

.rectangle-2 {
    position: absolute;
    width: 97px;
    height: 159px;
    top: 284px;
    left: 0;
}


.rectangle-3 {
    position: absolute;
    width: 738px;
    height: 85px;
    top: 333px;
    left: 97px;
}

.temp-imagex-ykpv-p{
    margin-left: -700px;
    width: 400px;
    margin-bottom: -100px;
}

.line {
    position: absolute;
    width: 792px;
    height: 21px;
    top: 491px;
    left: 146px;
}

.pay-secur-app {
    position: absolute;
    width: 838px;
    height: 140px;
    top: 300px;
    left: 4px;
}

.temp-imagex-ykpv-p {
    position: absolute;
    width: 955px;
    height: 600px;
    top: 0;
    margin-right: 50px;
    object-fit: cover;
}


/* Modals */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9998;
    display: none;
}

.signup-modal,
.login-modal {
    z-index: 9999; /* Au-dessus de l'overlay */
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}
